body{
    background-color: rgb(114, 105, 105);
}

h1, figure, nav, #citation, #competences, #formations, #experience, #centres_d_interets, td, .section, footer{
    text-align: center;
}

#matheo{
    width: 100px;
    height: 133px;
}

table{
    margin: auto;
}

.menu{
    display: flex;
    padding:0;
    justify-content: center;
}

.menu li {
    list-style-type: none;
}

.menu a {
    display:block;
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;             
    background-color: #000 ; 
    color: #3d645d ;
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #3d645d;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    transition: all 1s ;          /* Ajout des effets de transition */
}

.menu a:hover {
    background-color: #2b2428;
    color: #77656f;
    border-color: #252524;
}
