body{
    background-color: rgb(114, 105, 105);
}

h1, figure, nav, #citation, #competences, #formations, #experience, #centres_d_interets, td, .section, footer{
    text-align: center;
}

#matheo{
    width: 100px;
    height: 133px;
}

table{
    margin: auto;
}

.menu{
    display: flex; /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    justify-content: center     /* Alignements des liens dans le menu */
}

.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: #000 ; 
    color: #3d645d ;
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #3d645d;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    transition: all 1s ;          /* Ajout des effets de transition */
}

.menu a:hover {
    background-color: #2b2428;
    color: #2b2428;
    border-color: #252524;
  }